<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body >
    <hr style="height:5px;color:black;border-width:10px;margin:0;background-color:black;margin-bottom:0;">
    <header class="bg-warning text-center my-0 py-1" id="line">
        <h1>Tech Blog</h1>
    </header>
    <hr style="height:5px;color:black;border-width:10px;margin:0;background-color:black;margin-top:0;">
    <nav class="px-4 mt-1 d-flex justify-content-end display-4">
        <a class="mx-2" href="/">Homepage</a>
    
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="mx-2" href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a class="mx-2" href="/login">Login</a>
        {{/if}}
    </nav>
    <main class="px-4">{{{ body }}}</main>
    {{!-- <div class="form-group">
        <label for="project-desc">Post:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div> --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/js/logout.js"></script>
</body>

</html>